*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    height: 8vh;
}
li{
    display: inline-block;
    list-style: none;
    padding: 15px 25px;
}
.progress{
    height: 1vh;
    width: 10vw;
    background-color: lightslategray;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.progress:hover{
    width: 100vw;
}
main{
    background-color: aquamarine;
    height: 95vh;
    width: 100vw;
}