.flex-all-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: var(--main-bg-color);
    border: 2px solid white;
    height: 4vh;
    width: 5vw;
    border-radius: 5px;
    overflow: hidden;
}

.heading2{
    margin: 0 0 14px 0;
}

.mar1{
    margin: 16px 0;
}

.txt-color{
    color: #388e3c;
}