.flex-all-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: white;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 45.5vw;
}
.btn i{
    color: var(--main-bg-color);
}

.heading2{
    margin: 0 0 14px 0;
}

.mar1{
    margin: 16px 0;
}

.txt-color{
    color: #388e3c;
}