body{
    background-image: url('image.jpg');
    background-repeat: round;
    /* background-size: cover; */
}
h1{
    color: limegreen;
    display: flex;
    justify-content: center;
}
h2{
    background-color: lightyellow;
    font-family: monospace;
}

p.red{
    color: purple;
}
.idname{
    background-color: lime;
}
.idname:hover{
    background-color: pink;
    font-size: 25px;
    content: "This is a hover message!";
}
.idname:hover::after{
    content: "This is a hover message!";
}
#num1{
    font-size: 25px;
}