*{
    margin: 0;
    padding: 0;
}header{
    background-color: red;
    height: 10vh;
    position: fixed;
    z-index: 2;
    width: 100vw;
}
ul li{
    display: inline;
    color: white;
}
.container{
    height: 2555px;
    background-color: yellow;
    text-align: center;
    margin: auto;
    width: 50vw;
    padding-top: 85px;

}
.box1{
    background-color: blue;
    height: 155px;
    width: 225px;
    position: fixed;
    top: 540px;
    right: 25px;
}
p a{
    color: white;
}